<h2 class="text-center mt-4">Create a new Category</h2>
<div class="container">

	<div class="row justify-content-center">
		<div class="col-10">
			<%= render 'form' %>
		</div>

		<%= link_to '[ Cancel and return to Categories listing ]', categories_path, class: "text-info" %>

	</div>

</div>